<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootCam</title>

    <link href="@Url.Content("~/Styles/Main/Main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/Main/Menu.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">   
    @RenderSection("Main", false)
</head>
<body>
    <div class="header-photo">        
    </div>
    <div class="header-menu">
        <ol>
            <li>@Html.ActionLink("Rezerwacje", "Fields", "Books")</li>
            <li>@Html.ActionLink("Boiska", "Fields", "Fields")</li>
            <li>@Html.ActionLink("Start", "Index", "Home")</li>
        </ol>
    </div>
    <div class="main-content">
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div>Copyright 2017 by Dawid Brzęczek</div>
        <div>All rights reserved</div>
    </div>

</body>
</html>
